data/area.tsv
data/qc_inter.tsv
data/qc_intra.tsv
data/ratio.tsv
data/blank_effect.tsv
data/plots/
data/qc_corrected.tsv
data/rsdqc.tsv
data/rt_shifts.tsv
src/__pycache__/
src/lib/__pycache__/
.idea/
